@use "../abstracts";

.auth {
    display: flex;
    min-height: 100vh;

    @supports (-webkit-touch-callout: none) {
        min-height: -webkit-fill-available;
    }

    color: var(--auth-text-color);

    &__intro,
    &__content {
        flex: 1;
        padding: 0 30px;
    }

    &__intro {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 50px;
        background: var(--auth-intro-bg);

        &-logo,
        &-next {
            position: absolute;
            top: 80px;
            left: 50%;
            translate: -50%;
        }

        &-next {
            top: initial;
            bottom: 50px;
        }

        &-img {
            width: var(--width);
            max-width: 100%;
        }

        &-text {
            text-align: center;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 144.444%;
            max-width: 412px;

            @include abstracts.screen(md) {
                font-size: 1.5rem;
                line-height: 146.667%;
            }
        }
    }

    &__content {
        background: var(--auth-content-bg);

        @include abstracts.screen(md) {
            position: fixed;
            inset: 0;
            z-index: 1;
            overflow-y: auto;
            transition: translate 0.4s;

            &.hide {
                translate: 100%;
            }
        }

        &-inner {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            width: min(460px, 100%);
            margin: 0 auto;
            padding: 50px 0;

            @include abstracts.screen(md) {
                padding: 32px 0;
            }
        }
    }

    &__heading {
        margin-top: 50px;
        font-size: 3rem;
        font-weight: 500;
        line-height: 146.667%;

        @include abstracts.screen(md) {
            margin-top: 40px;
            font-size: 2.2rem;
        }
    }

    &__desc {
        margin-top: 10px;
        padding: 0 20px;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
        color: #9e9da8;

        @include abstracts.screen(md) {
            font-size: 1.4rem;
        }
    }

    &__message {
        margin-top: 30px;
    }

    &__form {
        width: 100%;
        margin-top: 30px;

        &-forgot {
            margin-top: 10px;
        }

        @include abstracts.screen(md) {
            margin-top: 0;
        }
    }
    
    &__link {
        color: #0071dc;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;

        @include abstracts.screen(md) {
            font-size: 1.4rem;
        }

        &-sign-in {
            font-size: 1.8rem;
            line-height: 144.444%;

            @include abstracts.screen(md) {
                font-size: 1.6rem;
            }
        }

        &:hover {
            opacity: 0.9;
        }
    }

    &__btn-group {
        margin-top: 50px !important;

        @include abstracts.screen(md) {
            margin-top: 40px !important;
        }
    }

    &__btn {
        column-gap: 10px;
        width: 100%;
        margin-left: 0 !important;

        & + & {
            margin-top: 30px;

            @include abstracts.screen(md) {
                margin-top: 20px;
            }
        }

        &-icon {
            filter: var(--auth-content-icon-color);
        }
    }

    &__text {
        margin-top: 108px;
        color: #9e9da8;
        font-size: 1.8rem;
        line-height: 144.444%;

        @include abstracts.screen(md) {
            margin-top: 40px;
            font-size: 1.6rem;
        }
    }
}
