@use "../abstracts";

.checkout {
    &-page {
        display: flex;
        flex-direction: column;
        padding-bottom: 120px;

        @include abstracts.screen(md) {
            padding-bottom: 160px;
        }

        @include abstracts.screen(sm) {
            padding-bottom: 190px;
        }

        &-breadcrumbs {
            background: var(--checkout-breadcrumbs-bg);
        }
    }

    &-container {
        margin-top: 30px;

        @include abstracts.screen(md) {
            margin-top: 20px;
        }
    }
}

.cart-info {
    padding: 30px;
    border-radius: 20px;
    color: var(--checkout-text-color);
    background: var(--checkout-cart-info-bg);
    box-shadow: 0px 20px 60px 10px var(--checkout-cart-info-shadow);

    @include abstracts.screen(md) {
        padding: 16px;
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    & + & {
        margin-top: 30px;
    }

    &__heading {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 141.667%;

        &--lv2 {
            font-size: 2.2rem;
            font-weight: 500;
            line-height: 145.455%;
        }

        @include abstracts.screen(md) {
            font-size: 1.6rem;
            line-height: 150%;
        }
    }

    &__sub-heading {
        margin: 30px 0;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;

        @include abstracts.screen(md) {
            margin: 30px 0 16px;
        }
    }

    &__list {
        margin-top: -30px;

        @include abstracts.screen(md) {
            margin-top: -16px;
        }
    }

    &__bottom {
        margin-top: 30px;
    }

    &__continute,
    &__row {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;

        @include abstracts.screen(md) {
            font-size: 1.6rem;
        }
    }

    &__sub-label {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }

    &__continute {
        display: flex;
        align-items: flex-end;
        height: 100%;
        user-select: none;

        &-link {
            display: flex;
            align-items: center;
            gap: 10px;

            &:hover {
                color: #2bd7e3;
            }

            &:hover .cart-info__continute-icon {
                translate: -4px;
                filter: brightness(0) saturate(100%) invert(71%) sepia(69%) saturate(475%) hue-rotate(131deg)
                    brightness(90%) contrast(98%);
            }
        }

        &-icon {
            transition: 0.3s;
            filter: var(--checkout-icon-color);
        }
    }

    &__row {
        display: flex;
        justify-content: space-between;

        & + & {
            margin-top: 10px;
        }

        &--total {
            font-size: 2.2rem;
            font-weight: 700;
        }
    }

    &__separate {
        margin: 30px 0;
        height: 1px;
        background: var(--checkout-cart-item-border-color);

        @include abstracts.screen(md) {
            margin: 16px 0;
        }
    }

    &__next-btn {
        margin-top: 30px;
        height: 48px;
        color: #1a162e;
        font-size: 2rem;
        font-weight: 500;
        line-height: 145.455%;
    }

    &__edit-btn {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 1.8rem;
        line-height: 144.444%;

        &-icon {
            filter: var(--address-cart-btn-icon-color);
        }
    }

    &__choose {
        // appearance: none; Nếu sử dụng input có lớp giả content = "icon.svg"
        position: relative;
        margin-top: 4px;
        width: 19px;
        height: 19px;
        border-radius: 5px;
        border: 1px solid var(--address-cart-choose-border-color);
        flex-shrink: 0;

        &::before {
            position: absolute;
            content: "";
            top: 3.5px;
            left: 3.5px;
            width: 10px;
            height: 7px;
            border-width: 2px;
            border-style: solid;
            border-color: transparent transparent #fff #fff;
            transform: rotate(-45deg);
            display: none;
        }

        &--active {
            background: #67b044;
            border-color: #67b044;

            &::before {
                display: block;
            }
        }
    }
}

.cart-item {
    display: flex;
    gap: 30px;
    padding: 30px 0;
    border-bottom: 1px solid var(--checkout-cart-item-border-color);

    @include abstracts.screen(md) {
        gap: 16px;
        padding: 16px 0;

        &:last-child {
            border: none;
        }
    }

    &__thumb {
        width: 172px;
        height: 175px;
        object-fit: contain;

        @include abstracts.screen(xxl) {
            width: 152px;
            height: 155px;
        }

        @include abstracts.screen(lg) {
            width: 102px;
            height: 105px;
        }

        @include abstracts.screen(md) {
            width: 60px;
            height: 60px;
        }
    }

    &__content {
        display: flex;
        flex: 1;
        align-self: flex-start;

        @include abstracts.screen(md) {
            flex-direction: column;
        }

        &-left {
            flex: 1;
        }

        &-right {
            display: flex;
            flex-direction: column;

            @include abstracts.screen(md) {
                margin-top: 16px;
            }
        }
    }

    &__title {
        max-width: 374px;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }

    &__price-wrap {
        margin: 16px 0;
        display: flex;
        gap: 4px;
        color: #9e9da8;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }

    &__status {
        color: #67b044;
    }

    &__total-price {
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 145.455%;
        text-align: right;

        @include abstracts.screen(md) {
            font-size: 1.8rem;
            text-align: left;
            margin-bottom: 13px;
        }
    }

    &__ctrl {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: auto;

        &--with-input {
            @include abstracts.screen(md) {
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
            }
        }
    }

    &__input {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
        height: 44px;
        padding: 0 20px;
        border-radius: 10px;
        border: 1px solid #d2d1d6;

        &-value {
            width: 20px;
            text-align: center;
        }
    }

    &__ctrl-btn {
        display: flex;
        align-items: center;
        gap: 10px;
        height: 44px;
        color: #9e9da8;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 150%;

        & + & {
            margin-left: 10px;
        }
    }

    &__icon {
        display: block;
        filter: var(--checkout-icon-color);
    }
}

.gift-item {
    display: flex;
    gap: 20px;

    &__icon-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;

        width: 76px;
        height: 76px;
        border-radius: 14px;
        background: rgb(118, 68, 225, 0.1);
        box-shadow: 0px 20px 60px 10px var(--checkout-gift-shadow);
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }

    &__desc {
        margin-top: 10px;
        font-size: 1.4rem;
        line-height: 142.857%;
    }
}

.user-address {
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;

        @include abstracts.screen(md) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;

        @include abstracts.screen(md) {
            font-size: 1.6rem;
            line-height: 150%;
        }
    }

    &__desc {
        margin-top: 4px;
        font-size: 1.5rem;
        line-height: 146.667%;

        @include abstracts.screen(md) {
            font-size: 1.4rem;
            line-height: 142.857%;
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        gap: 10px;
        height: 40px;
    }

    &__message {
        margin: 30px 0;
        font-weight: 500;
    }

    &__link {
        color: #2bd7e3;
    }
}

.address-cart {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    gap: 16px;

    @include abstracts.screen(md) {
        flex-direction: column;
    }

    &__left {
        display: flex;
        gap: 16px;
        cursor: pointer;
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;

        @include abstracts.screen(md) {
            font-size: 1.6rem;
            line-height: 150%;
        }
    }

    &__desc {
        width: min(520px, 90%);
        margin-top: 4px;
        font-size: 1.5rem;
        line-height: 146.667%;

        @include abstracts.screen(md) {
            font-size: 1.4rem;
            line-height: 142.857%;
        }
    }

    &__list {
        display: flex;
        gap: 30px;
        margin: 20px 0 0 8px;
        list-style: disc inside;
        font-size: 1.4rem;
        line-height: 142.857%;

        @include abstracts.screen(md) {
            margin-top: 16px;
            flex-wrap: wrap;
            gap: 10px 16px;
        }
    }

    &__right {
        display: flex;
        align-items: flex-end;
    }
}

.payment-item {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
    padding: 20px;
    border-radius: 20px;
    background: var(--payment-item-bg);

    &__delivery {
        cursor: pointer;
    }

    &__thumb {
        width: 70px;
        height: 54px;
        border-radius: 10px;
        object-fit: cover;
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }

    &__desc,
    &__detail {
        margin-top: 4px;
        font-size: 1.5rem;
        line-height: 146.667%;

        &--low {
            color: #9e9da8;
            font-size: 1.6rem;
            line-height: 150%;
        }
    }
    &__detail {
        padding: 8px 12px;
        margin: 0 -8px 0 auto;
        font-weight: 700;
        color: #2bd7e3;

        &:hover {
            opacity: 0.9;
        }
    }

    &__cost-wrap {
        display: flex;
        align-items: center;
        gap: 17px;
        margin-left: auto;
    }

    &__cost {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
        color: #9e9da8;

        &--active {
            color: inherit;
        }
    }

    &__check {
        margin-top: 0;
    }
}
