@use "../abstracts";

html.dark {
    --text-color: #fff;
    --icon-color: brightness(0) saturate(100%) invert(100%) sepia(50%) saturate(0%) hue-rotate(44deg) brightness(103%)
        contrast(100%);

    --header-bg-color: #171c28;
    --body-bg: #292e39;
    --top-act-group-bg-color: #292e39;
    --top-act-group-shadow: rgba(0, 0, 0, 0.2);
    --top-act-group-separate: #ededf6;

    @include abstracts.screen(lg) {
        --header-shadow-color: rgba(0, 0, 0, 0.2);
    }

    // Dropdown
    --dropdown-bg-color: #2f3441;
    --dropdown-shadow-color: rgba(23, 28, 40, 0.4);
    --dropdown-text-color: #b9babe;
    --dropdown-arrow-color: brightness(0) saturate(100%) invert(18%) sepia(8%) saturate(1524%) hue-rotate(186deg)
        brightness(93%) contrast(89%);
    --top-menu-border-color: #171c28;
    --menu-column-icon-color: brightness(0) saturate(100%) invert(88%) sepia(22%) saturate(97%) hue-rotate(202deg)
        brightness(107%) contrast(95%);

    // Sidebar
    --sidebar-icon-color: brightness(0) saturate(100%) invert(72%) sepia(11%) saturate(17%) hue-rotate(191deg)
        brightness(100%) contrast(97%);
    --sidebar-bg: #292e39;
    --sidebar-text-color: #b9babe;
    --sidebar-shadow-color: rgba(23, 28, 40, 0.4);

    // Category item
    --cate-item-bg: #171c28;
    --cate-item-thumb-bg: #292e39;
    --cate-item-title-color: #fff;

    // Buttons
    --filter-btn-bg: #171c28;
    --filter-btn-color: #fff;
    --filter-icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7438%) hue-rotate(307deg)
        brightness(106%) contrast(103%);
    --like-btn-bg: #292e39;
    --like-btn-shadow: rgba(124, 124, 124, 0.2);

    // Product card
    --product-card-bg: #171c28;
    --product-shadow-color: rgba(0, 0, 0, 0.2);
    --product-card-brand: #9e9da8;

    //Filter form
    --filter-form-bg: #292e39;
    --filter-form-shadow: rgba(0, 0, 0, 0.4);
    --form-tag-bg: #171c28;
    --filter-form-arrow-color: brightness(0) saturate(100%) invert(12%) sepia(13%) saturate(1098%) hue-rotate(183deg)
        brightness(102%) contrast(86%);

    //Footer
    --footer-top-color: #1a162e;
    --footer-top-icon-color: brightness(0) saturate(100%) invert(3%) sepia(94%) saturate(2195%) hue-rotate(242deg)
        brightness(95%) contrast(89%);
    --footer-top-btn-sign-up: #ffffff;
    --footer-bg-color: #171c28;
    --footer-content-color: #9e9da8;

    //Auth
    --auth-text-color: #b9babe;
    --auth-intro-bg: #171c28;
    --auth-content-bg: #292e39;
    --auth-content-icon-color: brightness(0) saturate(100%) invert(82%) sepia(8%) saturate(100%) hue-rotate(191deg)
        brightness(90%) contrast(90%);

    //Product detail
    --product-container-shadow: rgba(23, 28, 40, 0.2);
    --product-detail-bg: #292e39;
    --product-preview-bg: #171c28;
    --product-info-bg: #171c28;
    --product-info-tag-bg: #292e39;

    //Breadcrumbs
    --breadcrumbs-bg: #171c28;
    --breadcrumbs-shadow: rgba(23, 28, 40, 0.2);
}
