@use "../abstracts";

html {
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(9%) sepia(23%) saturate(1419%) hue-rotate(210deg) brightness(98%)
        contrast(98%);
    --body-bg: #f6f6f6;
    --separate-color: #d2d1d6;

    // Header
    --header-bg-color: #eee;
    --top-act-group-bg-color: #fff;
    --top-act-group-shadow: rgba(237, 237, 246, 0.2);
    --top-act-group-separate: #ededf6;

    @include abstracts.screen(lg) {
        --header-shadow-color: rgba(237, 237, 246, 0.2);
    }

    @include abstracts.screen(md) {
        --header-bg-color: #fff;
    }

    // Dropdown
    --dropdown-bg-color: #fff;
    --dropdown-shadow-color: rgba(200, 200, 200, 0.4);
    --dropdown-text-color: #1a162e;
    --top-menu-border-color: #d2d1d6;

    // Action dropdown
    --act-dropdown-bg: #fff;
    --act-dropdown-shadow: rgba(200, 200, 200, 0.4);
    --act-dropdown-border-color: #d2d1d6;

    // Sidebar
    --sidebar-icon-color: brightness(0) saturate(100%) invert(7%) sepia(12%) saturate(5646%) hue-rotate(222deg)
        brightness(96%) contrast(94%);
    --sidebar-bg: #fff;
    --sidebar-text-color: #1a162e;
    --sidebar-shadow-color: rgba(200, 200, 200, 0.4);

    // Category item
    --cate-item-bg: #eee;
    --cate-item-thumb-bg: #fff;
    --cate-item-title-color: #000;

    @include abstracts.screen(md) {
        --cate-item-bg: #fff;
    }

    // Buttons
    --filter-btn-bg: #fff;
    --filter-btn-color: #6c6c72;
    --filter-icon-color: brightness(0) saturate(100%) invert(4%) sepia(44%) saturate(3579%) hue-rotate(239deg)
        brightness(99%) contrast(90%);
    --like-btn-bg: #fff;
    --like-btn-shadow: rgba(124, 124, 124, 0.2);

    // Product card
    --product-card-bg: #fff;
    --product-shadow-color: rgba(237, 237, 246, 0.2);
    --product-card-brand: #9e9da8;

    // Filter form
    --filter-form-bg: #fff;
    --filter-form-shadow: rgba(200, 200, 200, 0.4);
    --form-tag-bg: #f8f8fb;

    // Footer
    --footer-top-color: #fff;
    --footer-top-icon-color: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(241deg)
        brightness(103%) contrast(103%);
    --footer-top-btn-sign-up: #1a162e;
    --footer-bg-color: #eee;

    // Auth
    @include abstracts.screen(md) {
        --auth-intro-bg: #fff;
    }
    --auth-content-bg: #fff;

    // Product detail
    --product-container-shadow: rgba(237, 237, 246, 0.2);
    --product-detail-bg: #fff;
    --product-preview-tag-bg: #fff;
    --product-info-bg: #f6f6f6;
    --product-info-tag-bg: #ededf6;

    @include abstracts.screen(md) {
        --product-detail-bg: #fafafd;
        --product-preview-bg: #fff;
        --product-info-bg: #fff;
    }

    // Breadcrumbs
    --breadcrumbs-bg: #f6f6f6;
    --breadcrumbs-shadow: rgba(237, 237, 246, 0.2);

    @include abstracts.screen(md) {
        --breadcrumbs-bg: #fff;
    }

    // Search bar
    --search-bar-bg: #fff;

    // Review card
    --review-card-bg: #fafafd;

    @include abstracts.screen(md) {
        --review-card-bg: #fff;
    }

    // Checkout
    --checkout-breadcrumbs-bg: #fff;
    --checkout-cart-info-bg: #fff;
    --checkout-cart-info-shadow: rgba(237, 237, 246, 0.2);
    --checkout-cart-item-border-color: #d2d1d6;
    --checkout-gift-shadow: rgba(237, 237, 246, 0.2);

    // Address cart
    --address-cart-choose-border-color: #1a162e;

    // Payment
    --payment-item-bg: #f6f6f6;

    // Modal
    --modal-bg: #fff;
    --modal-shadow: rgba(200, 200, 200, 0.4);

    // Profile
    --profile-bg: #fff;
    --profile-sidebar-shadow: rgba(237, 237, 246, 0.2);
    --profile-payment-new-card-border-color: #d2d1d6;

    // Account info #171C28
    --account-info-bg: #f6f6f6;
    --account-info-thumb-bg: #fff;
}
