// Filter btn
.filter-btn {
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 6px 12px;
    border-radius: 6px;
    background: var(--filter-btn-bg);
    color: var(--filter-btn-color);
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 142.857%;

    &:hover {
        opacity: 0.9;
    }

    &__icon {
        filter: var(--filter-icon-color);
    }
}

// Like btn
.like-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--like-btn-bg);
    box-shadow: 0px 20px 60px var(--like-btn-shadow);

    &__icon--liked {
        margin-top: 6px;
    }

    &:not(&__liked) &__icon--liked {
        display: none;
    }

    &__liked &__icon {
        display: none;
    }
}

// Buttons
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 46px;
    padding: 0 20px;
    font-size: 1.8rem;
    font-weight: 500;
    border-radius: 6px;
    background: #f8f8fb;
    white-space: nowrap;
    user-select: none;

    &--small {
        height: 40px;
        padding: 0 16px;
    }

    & + & {
        margin-left: 20px;
    }

    &--text {
        font-weight: 400;
        background: transparent;
    }

    &--primary {
        background: #ffb700;
        color: #1a162e;
    }

    &--outline {
        background: transparent;
        border: 1px solid #d2d1d6;
    }

    &--rounded {
        border-radius: 99px;
    }

    &[disabled],
    &--disable {
        opacity: 0.5;
        pointer-events: none;
    }

    &:hover {
        opacity: 0.9;
    }
}

.back-To__Top-Btn {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 100px;
    right: 20px;
    width: 42px;
    height: 42px;
    padding: 10px;
    border-radius: 50%;
    background-color: #2bd7e3;
    background-image: linear-gradient(73deg, #2bd7e3 10%, #e4d1d1 100%);
    display: none;

    &:hover {
        opacity: 0.7;
    }

    &-img {
        width: 100%;
        height: 100%;
        filter: brightness(0) saturate(100%) invert(99%) sepia(48%) saturate(448%) hue-rotate(199deg) brightness(115%)
            contrast(100%);
    }
}
