@use "../abstracts";

.dropdown {
    position: absolute;
    left: 0;
    width: min(1240px, 100%);
    padding-top: 54px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease-in-out;

    @include abstracts.breakpoints(lg) {
        opacity: 1;
        visibility: visible;
        position: initial;
        padding-top: 0px;
    }

    &__inner {
        --inner-padding: 30px;

        position: relative;
        padding: var(--inner-padding);
        border-radius: 20px;
        background: var(--dropdown-bg-color);
        color: var(--dropdown-text-color);
        box-shadow: 0px 40px 90px 20px var(--dropdown-shadow-color);

        &::before {
            position: absolute;
            content: url("../icons/dropdown-arrow.svg");
            top: -12px;
            left: var(--arrow-left-pos);
            translate: -50% 0;
            filter: var(--dropdown-arrow-color);
        }

        @include abstracts.breakpoints(lg) {
            --inner-padding: 0;
            box-shadow: none;
            border-radius: initial;
            background: transparent;

            &::before {
                content: "";
            }
        }
    }
}

.top-menu {
    --main-column-width: 322px;
    --max-inner-height: calc(min(582px, 100vh - 158px) - (var(--inner-padding) * 2));

    position: relative;

    &__main {
        width: 292px;
        height: var(--max-inner-height);
        border-right: 1px solid var(--top-menu-border-color);
        overflow-y: auto;

        @include abstracts.breakpoints(lg) {
            width: 100%;
            height: auto;
            border-right: none;
        }
    }
}

.menu-column {
    display: flex;
    column-gap: 14px;

    & + & {
        margin-top: 20px;
    }

    &__icon {
        position: relative;
        flex-shrink: 0;
        width: 36px;
        height: 36px;

        &-1 {
            width: 30px;
            height: 30px;
            object-fit: contain;
        }

        &-2 {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 21px;
            height: 21px;
            object-fit: contain;
            filter: var(--menu-column-icon-color);
        }

        @include abstracts.breakpoints(xl) {
            display: none;
        }

        @include abstracts.breakpoints(lg) {
            display: block;
        }
    }

    &__content {
        flex: 1;
        margin-top: 5px;
    }

    &__heading {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 150%;

        @include abstracts.breakpoints(lg) {
            margin-bottom: 20px;
        }
    }

    &__list {
        margin-top: 19px;

        @include abstracts.breakpoints(lg) {
            margin-top: 0;
        }
    }

    &__item {
        &--active .sub-menu {
            display: grid;
        }
    }

    &__item--active > &__link,
    &__item:hover > &__link {
        color: #0071dc;
        font-weight: 500;
        // text-shadow: -0.4px -0.4px #0071dc, 0.3px 0.3px #0071dc;
    }

    &__link {
        display: block;
        padding: 7px 0;
        font-size: 1.4rem;
        line-height: 142.857%;
    }
}

.sub-menu {
    display: none;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    position: absolute;
    inset: 0 0 0 var(--main-column-width);
    overflow-y: auto;

    @include abstracts.breakpoints(lg) {
        position: initial;
        grid-template-columns: 1fr;
        padding-top: 7px;
    }

    &--not-main {
        display: grid;
        inset: initial;
        position: initial;
        grid-template-columns: repeat(4, 1fr);
        height: var(--max-inner-height);
    }
}
