.filter-wrap {
    position: relative;
    z-index: 1;
}

.filter {
    position: absolute;
    top: 56px;
    right: 0;

    padding: 30px;
    border-radius: 20px;

    background: var(--filter-form-bg);
    filter: drop-shadow(0px 40px 90px var(--filter-form-shadow));

    &__arrow {
        position: absolute;
        top: -18px;
        right: 25px;
        height: 20.5px;
    }

    &__heading,
    &__form-label {
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 145.455%;
    }

    &__form {
        margin-top: 30px;

        &-group {
            margin-top: 20px;

            &-inline {
                display: flex;
                column-gap: 30px;
            }
        }

        &-slider {
            position: relative;
            width: 100%;
            height: 2px;
            margin: 30px 0;
            flex-shrink: 0;
            background: #d2d1d6;

            &::before,
            &::after {
                position: absolute;
                content: "";
                top: 50%;
                translate: 0 -50%;
                width: 22px;
                height: 22px;
                border: 6px solid #ffb700;
                border-radius: 50%;

                background: var(--filter-form-bg);
            }

            &::before {
                left: var(--min-value);
            }

            &::after {
                left: var(--max-value);
            }
        }

        &-label--small,
        &-input,
        &-select,
        &-tag {
            display: block;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 142.857%;
        }

        &-label-small {
            margin-bottom: 10px;
        }

        &-input,
        &-select-wrap {
            border: 1px solid #d2d1d6;
            border-radius: 6px;
        }

        &-input {
            margin-top: 10px;
            padding: 0 12px;
            width: 121px;
            height: 36px;
            background: transparent;
        }

        &-select-wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 45px;
        }

        &-select {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 14px;
            min-width: var(--width, 108px);
            height: calc(100% - 10px);
            cursor: pointer;

            & + & {
                border-left: 1px solid #d2d1d6;
            }
        }

        &-tags {
            display: flex;
            flex-wrap: wrap;
            gap: 10px 20px;
        }

        &-tag {
            padding: 6px 12px;
            border-radius: 6px;
            color: #9e9da8;
            background-color: var(--filter-form-tag-bg);
            transition: 0.2s;

            &:hover {
                color: var(--text-color);
            }
        }

        &-search-wrap {
            display: flex;
            align-items: center;
            width: 334px;
            height: 44px;
            border-radius: 6px;
            border: 1px solid #d2d1d6;
        }

        &-search {
            width: 100%;
            height: 100%;
            padding: 0 16px;
            border-radius: 6px;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 146.667%;
            background: transparent;

            &::placeholder {
                font-size: 1.5rem;
                line-height: 146.667%;
                color: #9e9da8;
            }
        }

        &-search-icon {
            padding-right: 16px;
        }
    }

    &__row {
        display: flex;
    }

    &__separate {
        width: 1px;
        background: #eee;
        margin: 0 30px;
    }

    &__footer {
        margin-top: 32px;
        display: flex;
        justify-content: flex-end;
    }

    &__cancel,
    &__submit {
        height: 38px;
        padding: 0 10px;
    }

    &__cancel {
        font-size: 1.5rem;
        font-weight: 400;
    }

    &__submit {
        font-size: 1.4rem;
    }
}
