<div class="footer__inner">
    <div class="container">
        <section class="footer-top">
            <!-- Footer top right -->
            <section class="footer-top__right">
                <h2 class="footer__heading">Try grocerymart today</h2>
                <!-- Footer Benefits -->
                <div class="footer__benefits">
                    <!-- Benifit item 1 -->
                    <div class="footer__benefit">
                        <img src="./assets/icons/check.svg" alt="" class="footer__benefit-icon" />
                        Free Cafe
                    </div>

                    <!-- Benifit item 2 -->
                    <div class="footer__benefit">
                        <img src="./assets/icons/check.svg" alt="" class="footer__benefit-icon" />
                        1 MB/mo free
                    </div>

                    <!-- Benifit item 3 -->
                    <div class="footer__benefit">
                        <img src="./assets/icons/check.svg" alt="" class="footer__benefit-icon" />
                        Contact and scale in days
                    </div>
                </div>
            </section>

            <!-- Footer top left -->
            <div class="footer-top__left">
                <!-- Footer top call to action -->
                <div class="footer__cta">
                    <a class="btn btn--rounded footer__cta-btn footer__cta-sign-up">
                        Sign up free
                        <img src="../assets/icons/arrow-right.svg" alt="" class="footer__cta-icon" />
                    </a>

                    <a class="btn btn--rounded footer__cta-btn footer__cta-sales">
                        Contact sales
                        <img src="../assets/icons/arrow-right.svg" alt="" class="footer__cta-icon" />
                    </a>
                </div>
            </div>
        </section>
    </div>
</div>
