<div class="footer__inner">
    <div class="container">
        <!-- Footer top -->
        <section class="footer-top">
            <!-- Footer top right -->
            <section class="footer-top__right">
                <h2 class="footer__heading">Try grocerymart today</h2>
                <!-- Footer Benefits -->
                <div class="footer__benefits">
                    <!-- Benifit item 1 -->
                    <div class="footer__benefit">
                        <img src="./assets/icons/check.svg" alt="" class="footer__benefit-icon" />
                        Free Cafe
                    </div>

                    <!-- Benifit item 2 -->
                    <div class="footer__benefit">
                        <img src="./assets/icons/check.svg" alt="" class="footer__benefit-icon" />
                        1 MB/mo free
                    </div>

                    <!-- Benifit item 3 -->
                    <div class="footer__benefit">
                        <img src="./assets/icons/check.svg" alt="" class="footer__benefit-icon" />
                        Contact and scale in days
                    </div>
                </div>
            </section>

            <!-- Footer top left -->
            <div class="footer-top__left">
                <!-- Footer top call to action -->
                <div class="footer__cta">
                    <a class="btn btn--rounded footer__cta-btn footer__cta-sign-up">
                        Sign up free
                        <img src="./assets/icons/arrow-right.svg" alt="" class="footer__cta-icon" />
                    </a>

                    <a class="btn btn--rounded footer__cta-btn footer__cta-sales">
                        Contact sales
                        <img src="./assets/icons/arrow-right.svg" alt="" class="footer__cta-icon" />
                    </a>
                </div>
            </div>
        </section>

        <!-- Footer content -->
        <section class="footer-content">
            <!-- Logo -->
            <a href="./" class="logo footer-logo">
                <img src="./assets/icons/logo.svg" alt="grocerymart" class="logo__img" />
                <h1 class="logo__title">grocerymart</h1>
            </a>

            <div class="row row-cols-6 row-cols-xl-4 row-cols-lg-3 row-cols-md-2 g-3">
                <!-- Footer item 1 -->
                <div class="col">
                    <section class="footer-item">
                        <h3 class="footer-item__title">GET CONNECTED</h3>
                        <ul class="footer-item__list">
                            <li>
                                <a href="#!" class="footer-item__link">Connectivity</a>
                            </li>
                            <li>
                                <a href="#!" class="footer-item__link">Dasboard</a>
                            </li>
                            <li>
                                <a href="#!" class="footer-item__link">iOT SIM Card</a>
                            </li>
                            <li>
                                <a href="#!" class="footer-item__link">Grocery grocerymart</a>
                            </li>
                            <li>
                                <a href="#!" class="footer-item__link">Grocery Nova</a>
                            </li>
                        </ul>
                    </section>
                </div>

                <!-- Footer item 2 -->
                <div class="col">
                    <section class="footer-item">
                        <h3 class="footer-item__title">RESOURCES</h3>
                        <ul class="footer-item__list">
                            <li class="ii">
                                <a href="#!" class="footer-item__link">Using Hologram</a>
                            </li>
                            <li>
                                <a href="#!" class="footer-item__link">Docs</a>
                            </li>
                            <li>
                                <a href="#!" class="footer-item__link">Support</a>
                            </li>
                            <li>
                                <a href="#!" class="footer-item__link">Support Hardware</a>
                            </li>
                        </ul>
                    </section>
                </div>

                <!-- Footer item 3 -->
                <div class="col">
                    <section class="footer-item">
                        <h3 class="footer-item__title">PRICING</h3>
                        <ul class="footer-item__list">
                            <li>
                                <a href="#!" class="footer-item__link">Pricing Overview</a>
                            </li>
                            <li>
                                <a href="#!" class="footer-item__link">Flexible</a>
                            </li>
                            <li>
                                <a href="#!" class="footer-item__link">High Volume Data</a>
                            </li>
                            <li>
                                <a href="#!" class="footer-item__link">Enterprise</a>
                            </li>
                            <li>
                                <a href="#!" class="footer-item__link">Coverage Map</a>
                            </li>
                        </ul>
                    </section>
                </div>

                <!-- Footer item 4 -->
                <div class="col">
                    <section class="footer-item">
                        <h3 class="footer-item__title">DEVELOPERS</h3>
                        <ul class="footer-item__list">
                            <li>
                                <a href="#!" class="footer-item__link">Forum</a>
                            </li>
                            <li>
                                <a href="#!" class="footer-item__link">Projects</a>
                            </li>
                            <li>
                                <a href="#!" class="footer-item__link">Open Source</a>
                            </li>
                        </ul>
                    </section>
                </div>

                <!-- Footer item 5 -->
                <div class="col">
                    <section class="footer-item">
                        <h3 class="footer-item__title">COMPANY</h3>
                        <ul class="footer-item__list">
                            <li>
                                <a href="#!" class="footer-item__link">About Us</a>
                            </li>
                            <li>
                                <a href="#!" class="footer-item__link">Blog</a>
                            </li>
                            <li>
                                <a href="#!" class="footer-item__link">Partnerships</a>
                            </li>
                            <li>
                                <a href="#!" class="footer-item__link">Careers</a>
                            </li>
                        </ul>
                    </section>
                </div>

                <!-- Footer item 6 -->
                <div class="col">
                    <section class="footer-item">
                        <h3 class="footer-item__title">SOCIAL</h3>
                        <ul class="footer-item__list">
                            <li>
                                <a href="#!" class="footer-item__link">Twitter</a>
                            </li>
                            <li>
                                <a href="#!" class="footer-item__link">Facbook</a>
                            </li>
                            <li>
                                <a href="#!" class="footer-item__link">Linked</a>
                            </li>
                            <li>
                                <a href="#!" class="footer-item__link">GitHub</a>
                            </li>
                        </ul>
                    </section>
                </div>
            </div>
        </section>
    </div>

    <!-- Footer bottom -->
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom__inner">
                <!-- Copyright -->
                <div class="footer__copyright">
                    <p>@2024 grocerymart</p>
                    <p>Terms</p>
                    <p>Privacy</p>
                </div>

                <!-- All Systems -->
                <a href="#!" class="btn btn--outline footer__system">ALL SYSTEMS OPERATIONAL</a>
            </div>
        </div>
    </div>
</div>
